<div class="container" onmouseup="resetColumn(event)">
    <div
        class="slds-table--header-fixed_container slds-scrollable slds-scrollable__y"
        style="padding-top: 0; max-height: 75vh"
    >
        <table
            id="data-table"
            aria-multiselectable="true"
            class="slds-table slds-table_bordered slds-table_resizable-cols slds-scrollable slds-table_fixed-layout slds-m-top_x-small resizable"
            role="grid"
        >
            <thead>
                <tr class="slds-line-height_reset">
                    <!-- Headers will be dynamically added by JavaScript -->
                </tr>
            </thead>
            <tbody>
                <!-- Data will be dynamically added by JavaScript -->
            </tbody>
        </table>
    </div>
</div>
